h1{
    background-color: #a5eef4;
  text-align: center;
  border: 2px solid red;
  border-radius: 30px;
  color: blueviolet;
}
.a1{
    background-color: yellow;
    color: black;
}
.a2{
    color: red;
}
.a3{
    color: green;
    font-size: 25px;
}
.a4{
    background-color: yellow;
    color: green;
    text-align: center;
}
.a5{
    text-align: center;
}
.a6{
    background-color: yellow;
    color: green;
    text-align: center;
}
.a7{
    background-color: black;
    border-radius: 15px;
    text-align: center;
}
.a8{
    color: green;
}
/* input{
    width: 1000px;
    height: 50px;
} */

textarea{
    width: 1200px;
}
.a9{
    color: green;
}
.s1{
    width: 10px;
}
button{
    background-color: rgb(0, 119, 255);
    height: 40px;
    width: 250px;
    color: white;
}
.green{
    background-color: green;color: white;
}
.red{
    background-color: red;color: white;
}
.blue{
    background-color: blue;color: white;
}
.black{
    background-color: black;
    color: white;
}
th,td{
    border: 2px solid black;
    
}
table{
    border-collapse: collapse;
    width: 1300px;
    text-align: center;
}
.s9{width: 10px;}